<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collage de Imágenes</title>
</head>
<body>
    <div style=width:60% class="row row-cols-2 row-cols-md-3 g-6" > 
        {% for collage in collagee %}
        <div v-for="movie in movies" class="col"> 
            <div class="card"> 
                <img class="card-img-top" src="{{ collage.image.url }}" /> 
            </div> 
        </div> 
        {% endfor %} 
    </div> 
</body>
</html>
